<div class="container">
    <div class="row">
        <div class="col-lg-6">
            <canvas id="line" class="chart chart-line" chart-data="data"
                    chart-labels="labels" chart-series="series" chart-options="options"
                    chart-dataset-override="datasetOverride" chart-click="onClick">
            </canvas>
        </div>
        <div class="col-lg-6">
            <canvas id="bar" class="chart chart-bar" chart-data="barData" chart-labels="barLabels" chart-series="barSeries" chart-options="barOptions"></canvas>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-6">
            <canvas id="doughnut" class="chart chart-doughnut"
                    chart-data="doughnutData" chart-labels="doughnutLabels">
            </canvas>
        </div>
        <div class="col-lg-6">
            <canvas id="radar" class="chart chart-radar"
                    chart-data="radarData" chart-labels="radarLabelsgit">
            </canvas>
        </div>
    </div>
</div>