<div class="container flex-column d-flex">
        <button class="mx-auto btn btn-block btn-secondary my-5"ng-click="openModal()" >Log Work</button>
        <div class="logged" ng-repeat="entry in entries">
            <div class="card">
                <div class="card-body d-flex justify-content-between">
                    <div class="content d-flex flex-column">
                        <div class="py-1"><strong>{{entry.date.format('DD/MM/YYYY')}}</strong></div>
                        <div>{{entry.description}}</div>
                    </div>
                    <div class="times d-flex flex-column">
                        <div>Start: {{entry.start.format('H:mm a')}} - End: {{entry.end.format('H:mm a')}}</div>
                        <div>Duration: {{entry.duration.format('HH:mm:ss')}}</div>
                        <div>Project: {{entry.project}}</div>
                    </div>
                </div>
            </div>
        </div>
        <script type="text/ng-template" id="loginregister.html" class="modal">
            <div ng-if="model.modalType === 'select'">
                <div class="myModal">
                    <div class="w-100 h-100 d-flex flex-column align-items-center justify-content-center">
                        <span class="closebtn" ng-click="cancel()"><i class="fas fa-times"></i></span>
                        <h4>How would you like to log your work?</h4>
                        <div class="row">
                            <button class="btn btn-lg btn-primary square mr-2" ng-click="model.modalType = 'stopwatch'"><i class="fas fa-stopwatch enlarge"></i><p>Timer</p></button>
                            <button class="btn btn-lg btn-secondary square" ng-click="model.modalType = 'manual'"><i class="fas fa-wrench enlarge"></i><p>Manual</p></button>
                        </div>
                    </div>

                </div>
            </div>
            <div ng-if="model.modalType === 'stopwatch'">
                <div class="myModal">
                    <div class="w-100 h-100 d-flex flex-column justify-content-center">
                        <span class="closebtn" ng-disabled="descRequired()" ng-click="close()"><i class="fas fa-times"></i></span>

                        <div id="clock" class="display-1 mx-auto">{{timer}}</div>

                        <div class="form-group row">
                            <div class="col-12">
                                <input class="form-control" type="text" ng-model="$parent.timerdescription" placeholder="What are you doing?" id="stopwatch-text-input">
                                <div>Which project was this for?</div>
                                <select class="form-control" id="project-select" ng-model="$parent.timerproject">
                                    <option ng-repeat="project in projects"  value="{{project.name}}">{{project.name}}</option>
                                </select>
                            </div>
                        </div>
                        <div class="row mx-auto my-2">

                            <button class="btn btn-lg btn-primary mr-2" ng-click="toggleTimer()" ng-disabled="descRequired()">{{mode}}</button>
                            <button class="btn btn-lg btn-warning" ng-show="running" ng-click="pauseTimer()">{{pauseStatus}}</button>
                        </div>
                        <div class="alert alert-warning" ng-show="descRequired()">Please make sure the inputs are filled out.</div>
                    </div>
                </div>
            </div>
            <div ng-if="model.modalType === 'manual'">
                <div class="myModal">
                    <div class="w-100 h-100 d-flex flex-column justify-content-center">
                        <span class="closebtn" ng-click="cancel()"><i class="fas fa-times"></i></span>
                        <h4 class="text-center">How long were you working for?</h4>
                        <br>

                        <div class="row">
                            <div class="col-md-12 ">
                                <p class="input-group px-2">
                                    <input type="text" class="form-control" uib-datepicker-popup="{{format}}" ng-change="changeDate()" ng-model="$parent.dt" is-open="popup1.opened" datepicker-options="dateOptions" ng-required="true" close-text="Close" alt-input-formats="altInputFormats" />
                                    <span class="input-group-btn">
                                        <button type="button" class="btn btn-secondary" ng-click="open1()">
                                          <i class="fa-svg-icon">
                                            <svg width="1792" height="1792" viewBox="0 0 1792 1792" xmlns="http://www.w3.org/2000/svg"><path d="M192 1664h288v-288h-288v288zm352 0h320v-288h-320v288zm-352-352h288v-320h-288v320zm352 0h320v-320h-320v320zm-352-384h288v-288h-288v288zm736 736h320v-288h-320v288zm-384-736h320v-288h-320v288zm768 736h288v-288h-288v288zm-384-352h320v-320h-320v320zm-352-864v-288q0-13-9.5-22.5t-22.5-9.5h-64q-13 0-22.5 9.5t-9.5 22.5v288q0 13 9.5 22.5t22.5 9.5h64q13 0 22.5-9.5t9.5-22.5zm736 864h288v-320h-288v320zm-384-384h320v-288h-320v288zm384 0h288v-288h-288v288zm32-480v-288q0-13-9.5-22.5t-22.5-9.5h-64q-13 0-22.5 9.5t-9.5 22.5v288q0 13 9.5 22.5t22.5 9.5h64q13 0 22.5-9.5t9.5-22.5zm384-64v1280q0 52-38 90t-90 38h-1408q-52 0-90-38t-38-90v-1280q0-52 38-90t90-38h128v-96q0-66 47-113t113-47h64q66 0 113 47t47 113v96h384v-96q0-66 47-113t113-47h64q66 0 113 47t47 113v96h128q52 0 90 38t38 90z"/></svg>
                                          </i>
                                        </button>
                                    </span>

                                </p>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-6">
                                <h5>From:</h5>
                                <div uib-timepicker ng-model="$parent.mytimeFrom" ng-change="changed()" hour-step="hstep" minute-step="mstep" show-meridian="ismeridian" class="px-2"></div>
                            </div>
                            <div class="col-md-6">
                                <h5>To:</h5>
                                <div uib-timepicker ng-model="$parent.mytimeTo" ng-change="changed()" hour-step="hstep" minute-step="mstep" show-meridian="ismeridian" class="px-2"></div>
                            </div>
                        </div>
                        <div class="form-group row">
                            <div class="col-12">
                                <input class="form-control" type="text" ng-model="$parent.manualdescription" placeholder="What did you do?" id="manual-text-input">
                                <div>Which project was this for?</div>
                                <select class="form-control" id="exampleSelect2" ng-model="$parent.manualproject">
                                    <option ng-repeat="project in projects"  value="{{project.name}}">{{project.name}}</option>
                                </select>
                            </div>
                        </div>
                        <div class="row mx-auto my-2">
                            <button class="btn btn-lg btn-primary" ng-disabled="checkValidTime()" ng-click="logEntry()">Log Session</button>
                        </div>
                        <div class="alert alert-warning" ng-show="checkValidTime()">Please make sure the inputs are filled out.</div>
                </div>
            </div>
        </script>